@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    color: #AAC3C3;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1em;
    color: #E6E6E6;
}

nav a {
    color: #ffae00;
    font-weight: bold;
    border-bottom: dotted 1px;
}

nav a:hover {
    border-bottom-color: transparent;
    color: #AAC3C3 !important;
    text-decoration: none;
}

#root-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#left {
    background-color: #2E4A4A;
    width: 47%;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.social-links {
    font-size: 3em;
}

.social-links a {
    color: #2E4A4A;
    font-weight: bold;
}

.social-links a:hover {
    border-bottom-color: transparent;
    color: #ffae00 !important;
    text-decoration: none;
}

#portrait {
    width: 90px;
    border-style: solid;
    border-color: #E6E6E6;
}

#right {
    background-color: #E6E6E6;
    width: 53%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#content {
    font-size: 1em;
    color:  #2E4A4A;
    width: 30em;
}

#content h2 {
    margin-bottom: 0.5em;
    border-bottom: dotted 1px;
}